<table>
<% form_for(resource,
      :as => resource_instance_name,
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") }) do |f| %>
  <% if resource.errors.any? %>
  <tr>
    <td colspan="2">
      <h2><%= t('helpers.messages.errors', :count => resource.errors.count, :model => resource.class.model_name.human.downcase) %></h2>
      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <% resource.attributes.each_pair do |field, value| %>
    <% next if ['id', 'created_at', 'updated_at'].include?(field) %>
    <tr>
      <td><%= f.label field %></td>
      <td><%= f.text_field field %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
<% end %>
</table>
