<table>
<% form_for(resource,
      :as => resource_instance_name,
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") }) do |form| %>
  <% if resource.errors.any? %>
  <tr>
    <td colspan="2">
      <div id="error_explanation">
        <h2><%= t('helpers.messages.errors', :count => resource.errors.count, :model => resource.class.model_name.human.downcase) %></h2>
        <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </td>
  </tr>
  <% end %>
  <% form_fields.each do |field| %>
    <tr>
      <td><%= form.label(field) %></td>
      <td><%= form_field(form, resource, field) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%= form.submit %></td>
  </tr>
<% end %>
</table>
