<table class="<%= resource_collection_name %> collection">
  <thead>
    <tr>
    <% index_fields.each do |field| %>
      <th><%= resource_class.human_attribute_name(field) %></th>
    <% end %>
    <th colspan="3"><%= human_action(:options) %></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |resource| %>
    <tr>
    <% index_fields.each do |field| %>
      <td><%= display_field(resource, field) %></td>
    <% end %>
      <td><%= link_to_if(action_defined?(:show), human_action(:show), resource_url(resource)){} %></td>
      <td><%= link_to_if(action_defined?(:edit), human_action(:edit), edit_resource_url(resource)){} %></td>
      <td><%= link_to_if(action_defined?(:destroy), human_action(:destroy), resource_url(resource),
        :confirm => t('helpers.messages.destroy_confirm', :default => 'Are you sure?'),
        :method => :delete){} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
